/* CSS For Sign Up and Login Components */

.container {
    padding: 10px 10px 20px 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    width: 25%;
    background-color: #0000003c;
    box-shadow: 2px 2px black;

}

h1 {
    padding: 0;
    margin: 6px;
    color: rgb(247, 212, 167);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width: 75%;
    gap: 6px;
}

input {
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(247, 203, 144);
    border: none ;
    box-shadow: 1px 1px 1px 1px black;
    padding-left: 6px;
    height: 30px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgb(247, 212, 167);

}
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    color: rgb(243, 225, 201);
    background-color: rgba(6, 6, 6, 0.352);
    width: 100%;
    transition: .5s;
    margin-bottom: 8px;
    font-size: 16px;
}

.submitBtn:hover, .submitBtn:focus {
    outline-color: rgb(247, 212, 167);
    border: 1px solid rgb(247, 212, 167);
    color: rgb(247, 212, 167);
    font-size: 20px;
    transition: .5s;
}






/* CSS For Profile Components */

.profileWrapper {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

/* CSS For All Users Page */

.usersContainer {
    display: flex;
    flex-direction: column ;
    margin: auto;
    width: 40%;
    margin-top: 100px;
} 

.userDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    
}

.usersContainer p {
    border: solid 1px black;
    padding: 0;
    margin: 0;
}

.userTitle {
    text-align: center;
    margin-bottom: 25px;
}


.profileBtn {
    color: rgb(243, 225, 201);
    background-color: rgba(92, 91, 91, 0.329);
    width: 25%;
    transition: .5s;
    margin: auto;
    margin-top: 25px;
    font-size: 16px;
}

.profileBtn:hover, .submitBtn:focus {
    outline-color: rgb(247, 212, 167);
    border: 1px solid rgb(247, 212, 167);
    color: rgb(247, 212, 167);
    font-size: 20px;
    transition: .5s;
}